title: Train Normalizing Flow (DLGM + NF k=40) on Binarized MNIST

device: &device cuda:1
parallel: false

task:
  object: train_nf

data:
  train:
    name: binarized_mnist
    root: data/
    download: true
    mode: train

model:
  name: normalizing_flow
  input_dim: 784
  hidden_dim: 400
  latent_dim: 40
  maxout_window_size: 4
  n_flows: 40
  flow_type: planar

hyperparameters:
  optim: RMSprop
  momentum: 0.9
  lr: 0.00001
  max_update_count: 500000
  batch_size: 100
  use_inv_temperature: true

save:
  name: dlgm.nf40.mnist
  weights_path: saved/weights
  loss_path: saved/loss